<h3 class="titulo">Mini calculadora en Angular </h3>
  <form >
    <div class= "row h-100 justify-content-center align-items-center">
      Ingrese el primer número:  <input type="number" [(ngModel)]="numero1" name="numero1"/>
      <br> 
      <br> 
      Ingrese el segundo número:  <input type="number" [(ngModel)]="numero2" name="numero2"/> 
      <br>
      <br>
      <input type="submit" value="Sumar">
      <br>
      <br>
    </div>
    <p> Resultado: {{numero1+numero2}} </p>
  </form>
  
<router-outlet></router-outlet>
